/* Navigation Bar Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: #00796b; /* Albastru închis */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    zoom: 95%;
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    margin-right: 20px;
    float: left;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #002244; /* Un albastru și mai închis pentru hover */
}

/* Stilizarea pentru elementele din dreapta */
.navbar li.login {
        
    float: right;
}

/* Map Container Styling */
#mapdiv {
    zoom: 100%;
    height: 50%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    pointer-events: all;
}

/* Popup Styling */
.popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 15px;
    max-width: 300px;
    border-radius: 8px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    opacity: 1;
}

#popup-content {
    font-size: 14px;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
    color: #ff4d4d;
    font-weight: bold;
}

.popup .close:hover {
    color: darkred;
}

/* Footer Styling */
footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px 0;
    zoom: 95%;
}

footer p {
    margin: 0;
}
