/* Reset pentru toate elementele */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    zoom: 95%;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    overflow-x: hidden;
    overflow-y:auto;
    position: absolute;
}

/* Navbar stilizat */
.navbar {
    background-color: #00796b; /* Albastru închis */
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    margin-right: 20px;
    float: left;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #002244; /* Un albastru și mai închis pentru hover */
}

/* Stilizarea pentru elementele din dreapta */
.navbar li.login {
        
    float: right;
}

/* Border container */

#top-container {
    width: 100%;
}
#bottom-container {
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.border-container {
    border-top: 3px solid #004d40;
    border-bottom: 3px solid #004d40;
    padding-top: 10px;
    width: 100%;
    bottom: 0;
}

#bottom-container .border-container {
    border-top: 3px solid #004d40;
    border-bottom: 3px solid #004d40;
    padding: 10px 0; /* Adjust padding for spacing */
    margin-bottom: 5%;
    position: static; /* Ensure normal document flow */
}

.bottom-container-top {
    border-top: 3px solid #004d40;
    border-bottom: 3px solid #004d40;
    padding-top: 20px;
    width: 100%;
    position: absolute;
    top: 5%;
}

/* Secțiunea de tips */
.container {
    padding: 10px;
    text-align: center;
}

.container h1 {
    font-size: 36px;
    color: #00796b;
    margin-bottom: 20px;
}

.container p {
    font-size: 20px;
    color: #004d40;
    margin-bottom: 30px;
}

.systemdiv {
    height: 60%;
    width: 100%;
    overflow: hidden;
    
}

.system {
perspective: 900px;
transform-style: preserve-3d;
height: 51%;
aspect-ratio: 1;
padding-top: 1%;
padding-bottom: 1%;
rotate: 20deg;
transform: rotateX(-20deg);
margin-left: 44%;
margin-bottom: 5%;
margin-top: 6%;
scale: 1.4;  
}  

.central-point,
.orbit,
.water-glass {
position: absolute;
transform-style: preserve-3d;
inset: 0;
height: calc(var(--size) * 1%);
margin: auto;
aspect-ratio: 1;
border-radius: 50%;
}

.central-point {
position: relative;
--size: 80;
height: calc(var(--size) * 1%);
scale: 1.1;
margin-left: -5%;
background-image: url('../img/central_point.png');
background-size: cover;
}

.orbit {
--size: 300;
--duration: 24s;
scale: 1;
margin-left: -90%;
box-shadow: 0 0 0 2cqmin #5554, inset 0 0 0 2cqmin #5554;
animation: orbit calc(var(--duration)) linear infinite;
rotate: 1 0 0 -85deg;
}

.water-glass {
--size: 18;
--duration: 24s;;
height: calc(var(--size) * 0.8%);
margin-left: calc(var(--size) * -0.35%);
margin-right: 0px;

background-image: url('../img/water_glass.png');
background-size: cover;
animation: planet calc(var(--duration)) linear infinite;
rotate: 1 0 0 90deg;
}

.water-glass p {
    padding: 0px;
}

.orbit:nth-child(1) {
    animation-delay: 0s;
}

.orbit:nth-child(1) .water-glass {
    animation-delay: 0s;
}

.orbit:nth-child(2) {
    animation-delay: -4s;
    box-shadow: none;
}

.orbit:nth-child(2) .water-glass {
    animation-delay: -4s;
}

.orbit:nth-child(3) {
    animation-delay: -8s;
    box-shadow: none;
}

.orbit:nth-child(3) .water-glass {
    animation-delay: -8s;
}

.orbit:nth-child(4) {
    animation-delay: -12s;
    box-shadow: none;
}

.orbit:nth-child(4) .water-glass{
    animation-delay: -12s;
}

.orbit:nth-child(5) {
    animation-delay: -16s;
    box-shadow: none;
}

.orbit:nth-child(5) .water-glass {
    animation-delay: -16s;
}

.orbit:nth-child(6) {
    animation-delay: -20s;
    box-shadow: none;
}

.orbit:nth-child(6) .water-glass {
    animation-delay: -20s;
}

@keyframes planet  { from{transform: rotate3d(0, 1, 0, 0deg) }to { transform: rotate3d(0, 1, 0, -360deg); } }
@keyframes orbit { to { transform: rotate3d(0, 0, 1,  360deg); } }


/* Imaginea picăturii de apă centrală */
.main-image {
    width: 250px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Call to action */
.call-to-action {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.call-to-action a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.call-to-action a:hover {
    color: #0288d1;
}

.login {
    float:right;
}

.hidden {
    display: none;
}

.tip-info {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
}

.tip-info button {
    margin-top: 10px;
}