#mapdiv {
    height:50%;
    padding: 50px;
}

header {
	width: 100%;
	background-color: #333;
    display: flex;
    align-items: left;
    justify-content: left;
}

body {
    background-color: #ceddf5;
    height: 100%;
    margin: 0;
}

body .container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #ebeef0;
}

header .container {
    background-color: #333;
    padding-top: 0px;
    padding: 0px;
}

header p {
    padding-top: 14px;
    padding-left: 14px;
    color: white;
}

footer {
    padding-top: 8px;
    padding-bottom: 8px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
}

footer p {
    font-size: small;
    padding-left: 14px;
    color: white;
    margin: 0;
}
footer .container {
    background-color: #333;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li.login {
    float:right
  }
  
  li a {
    font-size: large;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #157347;
    text-decoration: none;
    color: white;
  }