<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About - Water Conservation</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/about_style.css' %}">
  <script  type="text/javascript" src="{% static 'js/database_operations.js' %}"></script>
  <script  type="text/javascript" src="{% static 'js/other_operations.js' %}"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
</head>
<script>
  const about_other_caller = new about_other_scripts();
</script>
<body>
  
  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/watertips/">Water Tips</a></li>
      <li><a href="/projects/">Projects</a></li>
      {% if user.is_authenticated %}
        <li class="login"><a href="/logout/">Log out</a></li>
        <li class="login"><a href="/profile/">{{ user.username }}</a></li>
      {% else %}
        <li class="login"><a href="/login/">Log in</a></li>
      {% endif %}
    </ul>
  </nav>

  <!-- About Section -->
  <div class="container about-container">
    <h1>About Water Conservation</h1>
    
    <!-- Flashcards Section -->
    <div class="flashcards-container" id="flashcardsContainer">

      <!-- populate flashcards from database -->
      {% for message in about_messages %}
        <div class="flashcard">
          <h3>{{ message.title }}</h3>
          {{ message.message|safe }}
        </div>
      {% endfor %}
    </div>

    {% if user.is_authenticated %}
      <div class="call-to-action">
        <p>Thank you for being involved, {{ user.username }}. Every user gets us one step closer to success!</p>
      </div>
    {% else %}
    <!-- Call to Action -->
      <div class="call-to-action">
        <p>Join the global movement towards sustainable water use and conservation.</p>
        <a href="/signup">Get Involved Now</a>
      </div>
    {% endif %}
  </div>
  <script>
    about_other_caller.mouse_swipe_behaiviour()
  </script>
</body>
</html>
