<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'js/map-imports/mapdata.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map-imports/worldmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- remove -->
    <title>Homepage - Water Conservation</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/watertips/">Water Tips</a></li>
            <li><a href="/projects/">Projects</a></li>
            {% if user.is_authenticated %}
                <li class="login"><a href="/logout/">Log out</a></li>
                <li class="login"><a href="/profile/">{{ user.username }}</a></li>
            {% else %}
                <li class="login"><a href="/login/">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- The Map Div -->
    <div class="map-container">
        <div id="mapdiv">
            <div id="map"></div>

            <!-- Popup -->
            <span id="popup" class="popup" style="display: none;">
                <span id="popup-content">
                </span>
                <span class="close" onclick="closePopup()">X</span>
            </span>
        </div>
    </div>

    <!-- Information Cards -->
    <div class="info-section">
        <div class="row">
            <!-- Leaderboard 1: Countries with the Most Water Saving Projects -->
            <div class="col" id="col1">
                <h3>Countries with the Most Water Saving Projects</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Country</th>
                            <th>Projects</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for country in countries_with_projects|slice:":5" %}
                        <tr>
                            <td>{{ forloop.counter }}</td> <!-- Use forloop.counter for ranking -->
                            <td>{{ country.company_name__country__name }}</td>
                            <td>{{ country.project_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>
    
            <!-- Leaderboard 2: Countries Whose Projects Saved the Most Water -->
            <div class="col" id="col2">
                <h3>Countries whose Projects Saved the Most Water</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Country</th>
                            <th>Total Water Savings (in liters)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for country in countries_with_most_water_saving|slice:":5"%}
                            <tr>
                                <script>
                                    highlightCountry('{{ country.company_name__country__name }}');
                                </script>
                                <td>{{ forloop.counter }}</td> <!-- Use forloop.counter for ranking -->
                                <td>{{ country.company_name__country__name }}</td>
                                <td>{{ country.total_savings }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>
        </div>
    
        <!-- Leaderboard 3: Most Popular Water Technologies -->
        <div class="row">
            <h3>Most Popular Water Technologies</h3>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Technology</th>
                        <th>Implementations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for technology in most_popular_technologies|slice:":5" %}
                    <tr>
                        <td>{{ forloop.counter }}</td> <!-- Use forloop.counter for ranking -->
                        <td>{{ technology.technology__name }}</td>
                        <td>{{ technology.implementation_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2025 Water Conservation Project</p>
    </footer>

</body>

<script>
    map_click_behaviour();
    closePopupOnOutsideClick();
    handleScrollBehavior();
</script>

</html>
