<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About - Water Conservation</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/projects_style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
  <script  type="text/javascript" src="{% static 'js/database_operations.js' %}"></script>
  <script  type="text/javascript" src="{% static 'js/other_operations.js' %}"></script>
</head>

<body>
    <p>empty page</p>
</body>