<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Projects - Water Conservation</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/projects_style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
  <script type="text/javascript" src="{% static 'js/database_operations.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/other_operations.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/projects.js' %}"></script>
</head>

<body>


  <!-- Background Image -->
  <div class="background-image"></div>

  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/watertips/">Water Tips</a></li>
      <li><a href="/projects/">Projects</a></li>
      {% if user.is_authenticated %}
        <li class="login"><a href="/logout/">Log out</a></li>
        <li class="login"><a href="/profile/">{{ user.username }}</a></li>
      {% else %}
        <li class="login"><a href="/login/">Log in</a></li>
      {% endif %}
    </ul>
  </nav>


  <!-- Form Container -->
  <div class="form-container">
    <h1>💧 Create a new project</h1>

    <!-- Progress Bar -->
    <div class="progress-bar">
      <div class="progress" id="progress"></div>
    </div>

    <!-- Quiz Form -->
    <form id="projectForm">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <!-- Question 1 -->
      <div class="form-step active">
        <h2>Choose a project category:</h2>
        <!-- Dropdown-ul cu categoriile proiectelor -->
        <select id="category" name="category" onchange="showDescription()" required>
          <option value="">Select a category</option>
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
        <div class="category-description" class="hidden"></div>
        <button type="button" class="next-btn">Next</button>
      </div>
      <div class="form-step">
        <h2>What is your project's name?</h2>
        <input type="text" id="projectName" name="projectName" placeholder="Enter project name" required>
        <button type="button" class="prev-btn">Back</button>
        <button type="button" class="next-btn">Next</button>
      </div>

      <!-- Question 2 -->
      <div class="form-step">
        <h2>What is your company or organization?</h2>
        <input type="text" id="companyName" name="companyName" placeholder="Enter company name" required>
        <button type="button" class="prev-btn">Back</button>
        <button type="button" class="next-btn">Next</button>
      </div>

      <!-- Question 3 -->
      <div class="form-step">
        <h2>Describe your project.</h2>
        <textarea id="description" name="description" rows="3" placeholder="Enter project description"
          required></textarea>
        <button type="button" class="prev-btn">Back</button>
        <button type="button" class="next-btn">Next</button>
      </div>

      <!-- Question 4 -->
      <div class="form-step">
        <h2>What are your project goals?</h2>
        <textarea id="goals" name="goals" rows="3" placeholder="Enter project goals" required></textarea>
        <button type="button" class="prev-btn">Back</button>
        <button type="button" class="next-btn">Next</button>
      </div>

      <!-- Question 5 -->
      <div class="form-step">
        <h2>Estimated Water Savings (Liters/Gallons):</h2>
        <input type="number" id="waterSavings" name="waterSavings" placeholder="Enter water savings" required>
        <!-- Butonul Next care face redirecționarea -->
        <button type="button" class="prev-btn">Back</button>
        <button type="button" class="next-btn">Customize</button>
      </div>

      <div class="form-step">
        <div id="guidanceSection" class="hidden"></div>
        <button type="button" class="prev-btn">Back</button>
        <button type="submit" id="nextBtn">Submit</button>
      </div>
    </form>

  </div>

</body>