<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">

</head>

<body>
  <div class="form-container">
    <h2>Sign Up</h2>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter your password" required>
      </div>
      <div class="mb-3">
        <label for="confirmPwd">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPwd" name="confirm_password" placeholder="Confirm your password" required>
      </div>
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <div class="footer">
      <p>Already have an account? <a href="/login">Login here</a></p>
      <p>Changed your mind? <a href="/">Continue as guest</a></p>
    </div>
  </div>

</body>
</html>
