<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About - Water Conservation</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/technologies_style.css' %}">
  <script  type="text/javascript" src="{% static 'js/technologies.js' %}"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
</head>
<script>
  technologies = JSON.parse('{{ technologies|safe }}');
</script>
<body>
  
  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/watertips/">Water Tips</a></li>
      <li><a href="/projects/">Projects</a></li>
      {% if user.is_authenticated %}
        <li class="login"><a href="/logout/">Log out</a></li>
        <li class="login"><a href="/profile/">{{ user.username }}</a></li>
      {% else %}
        <li class="login"><a href="/login/">Log in</a></li>
      {% endif %}
    </ul>
  </nav>
     

    <!-- Slide Container -->
    <div class="slide-container" id="slideContainer">
        <div class="slide" id="technologySlide">
            <h2 id="techName">Technology Name</h2>
            <p id="techDescription">Description of the technology goes here...</p>
            <p><strong>Category:</strong> <span id="techCategory">Category</span></p>
            <p><strong>Manufacturer:</strong> <span id="techManufacturer">Manufacturer</span></p>
        </div>
    </div>

    <!-- Formular pentru adăugare tehnologie -->
    <form id="technologyForm" action="/submit_technology/" method="post">
      {% csrf_token %}
      <h2>Add New Technology</h2>
    
      <label for="name">Technology Name:</label>
      <input type="text" id="name" name="name" required>
    
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
    
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="" selected="true" disabled="disabled">Select your category</option>
        {% if categories %}
          {% for category in categories %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
          {% endfor %}
        {% endif %}
      </select>
    
      <label for="technique">Conservation Technique:</label>
      <select id="techniqueSelect" name="technique" required>
        <option value="" selected="true" disabled="disabled">Select your technique</option>
        {% if techniques %}
          {% for technique in techniques %}
            <option value="{{ technique.name }}">{{ technique.name }}</option>
          {% endfor %}
        {% endif %}
        <option class="add-your-own" value="add-your-own">--Add your own--</option>
      </select>

      <input type="text" id="customTechnique" name="custom_technique" placeholder="Enter your own technique" style="display: none;">


      <label for="manufacturer">Manufacturer:</label>
      <select id="manufacturerSelect" name="manufacturer" required>
        <option value="" selected="true" disabled="disabled">Select your manufacturer</option>
        {% if manufacturers %}
          {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.name }}">{{ manufacturer.name }}</option>
          {% endfor %}
        {% endif %}
        <option class="add-your-own" value="add-your-own">--Add your own--</option>
      </select>

      <input type="text" id="customManufacturerName" name="custom_manufacturer_name" placeholder="Enter your manufacturer's name" style="display: none;">
      <input type="text" id="customManufacturerAddress" name="custom_manufacturer_address" placeholder="Enter your manufacturer's address" style="display: none;">
    
      <button type="submit">Add Technology</button>
      <div class="go-back-projects">
        <p>Continue registering your project!</p>
        <p>Click <a href="/projects/">here</a> to go back.</p>
      </div>
    </form>
    

</body>
</html>