<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/watertip_style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    <script type="text/javascript" src="{% static 'js/watertips.js' %}"></script>
    <title>Water Tips - Water Conservation</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/watertips/">Water Tips</a></li>
            <li><a href="/projects/">Projects</a></li>
            {% if user.is_authenticated %}
                <li class="login"><a href="/logout/">Log out</a></li>
                <li class="login"><a href="/profile/">{{ user.username }}</a></li>
            {% else %}
                <li class="login"><a href="/login/">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Water Tips Section -->
    <div class="top-container">
        <div class="border-container">
            <div class="container">
                <h1>Water Conservation Tips</h1>
            </div>
        </div>
    </div>

    <!-- Imaginea picăturii de apă centrală -->

    <!-- Pahare de apă aranjate pe stânga și dreapta -->
    <div class="systemdiv">
        <div class="system">
            <div class="central-point">
                {% for tip in watertips %}
                    <div class="orbit">
                        <div class="water-glass" onclick="showInfo('{{ tip.user }}', '{{ tip.tip }}')">
                            <p onclick="showInfo('{{ tip.user }}')">{{ tip.tip }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tip-info hidden">
            <p id="tipMessage"></p>
            <p id="userMessage"></p>
        </div>
    </div>

    <div id="bottom-container">
            <div class="border-container">
                <p>Conserve water with these simple and effective tips that can help make a positive impact on the environment.</p>
                <p>Got any water saving tips? Consider sharing them with us!</p>
                <form action="/watertips/" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter your water saving tip" id="tip" name="tip" required>
                    <button type="submit">Submit</button>
                </form>
            </div>

    <!-- Call to Action -->
            {% if user.is_authenticated %}
            <div class="call-to-action">
                <p>Thank you for being involved, {{ user.username }}. Every user gets us one step closer to success!</p>
            </div>
            {% else %}
            <!-- Call to Action -->
            <div class="call-to-action">
                <p>Join the global movement towards sustainable water use and conservation.</p>
                <a href="/signup">Get Involved Now</a>
            </div>
            {% endif %}
    </div>

</body>

</html>
